* {box-sizing: border-box;}
body {background-color: #152621; color: #F2D6B3; margin: 0; font-family: sans-serif;}
#title{background-color: #45594E; color: #F2D6B3; padding: 0.5em;}
h1{font-weight: bolder;}
#text{margin: 1.5em 1em; font-size: 20px;}
#movies{margin: 1.5em 1em; font-size: 40px;}
#navbar{background-color: #45594E; top: 0; position: sticky; overflow: hidden; border-top: 6px solid #F2D6B3;}
.nav{text-decoration: none; color: #F2D6B3; font-weight: bolder; font-size: 18px; text-align: center; float: left; width: 25%; padding-top: 10px; padding-bottom: 10px;}
.nav:hover{background-color: #667367; font-weight: 500;}
.links{font-size: 20px;}
@media (min-width: 80vh){
	#title{}
	#movies{margin: 2.5vh 5vw}
        #text{margin: 8vh 25vw}
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border-bottom: 1px solid #bbb; text-align: left; padding: 10px;
}
tr:hover{background-color: #667367;}
